<div class="d-flex justify-content-center mt-5">
    <div style="max-width: 1240px" class="d-flex flex-column w-100">        
        <h4 class="title m-0">{{title}}</h4>
        <p class="text-justify text m-0 mt-2">{{content}}</p>
    </div>
</div>